/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1140px;
}
@media screen and (min-width: 768px) {
  .destination-search-container {
    align-items: center;
    width: 80%;
  }
}

.heading {
  color: #252627;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .heading {
    margin-top: 26px;
  }
}

.search-input-container {
  background-color: #f1f5f9;
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 15px;
  display: flex;
}
.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 500;
  border: none;
  outline: none;
}
.search-icon {
  width: 20px;
  height: 20px;
}

.destination-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 48px;
}
